{{ define "main" }}
<div class="contact-card">

  <div class="contact-item">
    <div class="contact-icon" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="28" height="28">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
      </svg>
    </div>
    <div class="contact-detail">
      <div class="contact-label">Address</div>
      <div class="contact-value">
        Savannah River Woodturners Club<br>
        144 North Belair Road<br>
        Evans, Georgia
      </div>
    </div>
  </div>

  <div class="contact-item">
    <div class="contact-icon" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="28" height="28">
        <path d="M6.62 10.79a15.053 15.053 0 006.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1C10.61 21 3 13.39 3 4c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.24 1.02l-2.21 2.2z"/>
      </svg>
    </div>
    <div class="contact-detail">
      <div class="contact-label">Telephone</div>
      <div class="contact-value">
        <a class="contact-phone" href="tel:+17063413999">706-341-3999</a>
        <span class="contact-person">Mike Vernon &mdash; Secretary/Treasurer</span>
      </div>
    </div>
  </div>

</div>
{{ end }}
